* {
    background-color: F6F6F6;
    color: 05080C;
    line-height: 1.5;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

th {
    background-color: 222222;
}

td {
    background-color: eeeeee;
}