* {
    background-color: #F6F6F6;
    color: #05080C;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article {
    margin-right: 6%;
    margin-left: 6%;
    border-top: 5px solid #222222;
    border-bottom: 5px solid #222222;;
}

img {
    float: right;
    margin-left: 10px;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: hotpink;
}

p {
    font-size: 18px;
}

th {
    background-color: #222222;
    color: white;
    padding: 8px;
}

td {
    background-color: #eeeeee;
    padding: 8px;
}