/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

/* Edit out later */
/* * {
  border: 1px solid red;
} */

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #ffd900 */
/* Lighter yellow: #f2ff00 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

header {
  display: flex;
  align-items: center;
}

.web-title {
  width: 50%;
  font-size: 30px;
  padding-left: 5px;
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 50%;
  align-items: center;
}

header ul li {
  list-style-type: none;
  /* display: flex; */
  justify-content: flex-end;
}

.big-header-links {
  font-size:large;
}

/* .little-header-links {

} */

.tagline {
  width: 100%;
  background-color: #adadad;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: larger;
}

.middle-section {
  display: flex;
  justify-content: flex-end;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg");
  background-size: 100%;
  height:600px;
  align-items: center;
  /* There has to be a better way of doing the height here */
}

article aside {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 10px;
  padding: 10px;
  background-color: rgb(135, 135, 135, 0.75);
}

article aside a {
  background-color: #ffd900;
  padding: 5px 35px;
  text-align: center;
}

section {
  display: flex;
}

.bottom-trio {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 10px 5px;
  padding: 5px;
  border-right: 1px solid darkgray;  
  align-items: center;
}

.bottom-trio p {
  font-size: 15px;
}

.bottom-trio a {
  background-color: #878787;
  padding: 5px;
  width: 50%;
  text-align: center;
}

footer {
  width: 100%;
  background-color: black;
  color: #adadad;
}