/* Project Name: Choose Your Own Adventure
Author: Claire Youmans */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.congrats, .play-again {
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
}

.reset-game {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* border: 1px solid red; */
}

.reset-game ul {
    padding-left: 0;
}

ul {
    list-style-type: none;
}

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */