/* Project Name: Choose Your Own Adventure
Author: Claire Youmans */

/* * {
    border: 1px solid blue;
} */

/* font-family: 'Inconsolata', monospace;
font-family: 'VT323', monospace; */

body {
    /* change later so that smaller screens can use smaller sized images */
    /* Fix the image! it's cut in parts and repeating, not immediately noticeable but very annoying. */
    background-image: url("../img/castle_brick_wall_small_size.jpg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

nav ul {
    margin-bottom: 0;
}

.quit {
    margin-left: 20px;
}

.inventory-btn {
    margin-right: 20px;
}

.title {
    width: fit-content;
    text-align: center;
    font-family: 'VT323', monospace;
    /* Fix sizing */
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}

main {
    margin: 10px 20px;
    font-family: 'Inconsolata', monospace;
}

ul {
    display: flex;
    padding-left: 0;
    align-items: center;
}

li {
    list-style-type: none;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.explanation {
    border: 2px solid grey;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.main-section ul {
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

li a.options {
    background-color: grey;
}

.back-next ul {
    justify-content: center;
    gap: 250px;
    margin-top: 20px;
}

.back-next ul li {
    display: inline;
}

.inventory {
    display: none;
}

@media screen and (max-width: 575px) {
    /* the body.mobile-inventory-mode sections below dictate what the page will look like when mobile-inventory-mode is toggled on: */
    body.mobile-inventory-mode .main-section,
    body.mobile-inventory-mode .back-next {
        display: none;
    }

    body.mobile-inventory-mode .inventory {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}


/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... } */
@media screen and (min-width: 576px){
    nav {
        margin: 20px 66.2px 20px 10px;
    }

    main {
        display: grid;
        gap: 10px;
        grid-template-columns: 75% 25%;
        margin: 20px 50px;
    }

    /* .quit {
        margin-left: 50px;
    } */

    .inventory {
        display: inline;
        float: right;
    }

    .mobile-only {
        display:none;
    }


    /* div.back-next {
    } */
}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
