/* Project Name: Choose Your Own Adventure
Author: Claire Youmans */

body {
    background-image: url("../img/castle_brick_wall_small_size.jpg");
    background-size: cover;
    min-height: 100vh;
}

nav ul {
    margin-bottom: 0;
}

.quit {
    margin-left: 20px;
}

.inventory-btn {
    margin-right: 20px;
}

.title {
    width: fit-content;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    padding: 10px;
}

main {
    margin: 10px 20px;
    font-family: 'Inconsolata', monospace;
}

ul {
    display: flex;
    padding-left: 0;
    align-items: center;
}

li {
    list-style-type: none;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.explanation {
    border: 2px solid grey;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.main-section ul {
    flex-direction: column;
    gap: 15px;
}

li a.options {
    background-color: grey;
}

.back-next ul {
    justify-content: center;
    gap: 150px;
    margin-top: 20px;
}

.back-next ul li {
    display: inline;
}

.inventory {
    display: none;
}

.inventory h1 {
    text-align: center;
}

.credits, .credits-play-again {
    display: none;
}

@media screen and (max-width: 575px) {
    /* the body.mobile-inventory-mode sections below dictate what the page will look like when mobile-inventory-mode is toggled on: */
    body.mobile-inventory-mode .main-section,
    body.mobile-inventory-mode .back-next {
        display: none;
    }

    body.mobile-inventory-mode .inventory {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 20px 10px;
    }

    .explanation{
        max-height: 175px;
        overflow: scroll;
    }
    
}

@media screen and (max-width: 900px) {
    .inventory h1{
        font-size:25px;
    }
    
}


@media screen and (min-width: 675px) and (max-width: 964px){
    nav {
        margin: 20px 66.2px 20px 10px;
    }

    main {
        display: grid;
        gap: 10px;
        grid-template-columns: 75% 25%;
        margin: 20px 50px;
    }

    .end-of-game div.main-section.game{
        margin: auto;
    }

    .main-section {
        max-width: 648px;
        
    }

    .title {
        font-size: 50px;
    }

    .inventory {
        display: inline;
        float: right;
        border: 2px solid grey;
        background-color: white;
        border-radius: 20px;
    }

    .mobile-only {
        display:none;
    }

    .back-next ul {
        gap: 250px;
    }

}

@media screen and (min-width: 965px){
    main {
        display: grid;
        gap: 10px;
        grid-template-columns: 75% 25%;
        margin: 20px auto;
        max-width: 80%;
    }

    .inventory {
        display: inline;
        float: right;
        border: 2px solid grey;
        background-color: white;
        border-radius: 20px;
    }

    .mobile-only {
        display:none;
    }

    .title {
        font-size: 50px;
    }

    .back-next ul {
        gap: 250px;
    }
}

/* Below deals with the credits: */
.end-of-game .main-section div.list-group,
.end-of-game .back-next,
.end-of-game .inventory,
.end-of-game .quit{
    display: none;
}

.end-of-game nav {
    margin: 20px 10px;
}

.end-of-game main{
    grid-template-columns: 1fr;
}

.end-of-game .credits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid grey;
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
}

.end-of-game .credits ul li{
    width: 100%;
    padding-left: 0;
}

.end-of-game .credits-play-again{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.end-of-game .inventory-btn{
    display: none;
}