/* ### Colors
Green: #20c063 / RGBA(32,192,99,1) 
Gray: #e8e9ea  / RGBA (232,233,234,1)
Dark Text: #3b4144 / RGBA (59,65,68,1) */


body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: green;
}

header {
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #20c063;
    height: 40px;
    padding: 3px 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.trulia-logo {
    width: 80px;
    padding: 5px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    gap: 25px;
}

.nav-left ul, .nav-right ul {
    display: flex;
    gap: 20px;
    height: fit-content;
    font-size: 14px;
}

.nav-left ul li a, .nav-right ul li a {
    color: white;
}

.user-icon {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}
/* 
.nav-right {
    display: flex;
    align-items: flex-end;
} */

.header-location-info {
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding-left: 20px;
    margin-top: 30px;
}

.header-location-info-p1 {
    font-weight: bold;
}


.trulia-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #e8e9ea;
    padding: 20px;
}

.trulia-grid-item {
    width: 100%;
    background-color: white;
    border-radius: 3px;
}

.trulia-house-image {
    height: 150px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.new-box, .for-sale-box {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
}

.new-box {
    background-color: rgba(32,192,99,0.5);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 40px;
    text-align: center;
}

.for-sale-box {
    background-color: rgba(155, 155, 155, 0.5);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 120px;
    padding-left: 5px;
}

.trulia-house-stats ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.trulia-article-icon {
    width: 15px;
}

.trulia-house-image-1 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg");
}

.trulia-house-image-2 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg");
}

.trulia-house-image-3 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg");
}

.trulia-house-image-4 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg");
}

.trulia-house-image-5 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg");
}

.trulia-house-image-6 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg");
}

.trulia-house-image-7 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg");
}

.trulia-house-image-8 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg");
}

.trulia-house-image-9 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg");
}

.trulia-house-image-10 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg");
}

.trulia-house-image-11 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg");
}

.trulia-house-image-12 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg");
}

.trulia-house-facts {
    padding: 0 0 5px 5px;
}

.trulia-house-price {
    display: flex;
}

.trulia-house-price h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.trulia-house-beds, .trulia-house-baths, .trulia-house-sqft {
    font-size: 14px;
}

.trulia-house-address {
    font-style: normal;
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
}

.bottom-page-info {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.bottom-page-numbers {
    display: flex;
    gap: 20px;
    /* height: fit-content;
    width: fit-content; */
}

.bottom-location-info {
    display: flex;
    gap: 5px;
    /* height: fit-content;
    width: fit-content; */
}

footer {
    background-color: #474E52;
    height: 100px;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: white;
}

