/* ### Colors
Green: #20c063 / RGBA(32,192,99,1)
Gray: #e8e9ea  / RGBA (232,233,234,1)
Dark Text: #3b4144 / RGBA (59,65,68,1) */

/* * {
    border: 1px solid green;
} */

header {
    background-color: #20c063;
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
}

nav {
    display: flex;
    justify-content: space-between;
}

.trulia-logo {
    width: 80px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.nav-left ul, .nav-right ul {
    display: flex;
    gap: 10px;
}
/* 
.nav-right {
    display: flex;
    align-items: flex-end;
} */

.nav-left {
    display: flex;
}

.trulia-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #e8e9ea;
}

.trulia-grid-item {
    width: 100%;
    background-color: white;
    border-radius: 3px;
}

.trulia-house-image {
    height: 150px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.trulia-house-stats ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.trulia-article-icon {
    width: 15px;
}

.trulia-house-image-1 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg");
}

.trulia-house-image-2 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg");
}

.trulia-house-image-3 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg");
}

.trulia-house-image-4 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg");
}

.trulia-house-image-5 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg");
}

.trulia-house-image-6 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg");
}

.trulia-house-image-7 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg");
}

.trulia-house-image-8 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg");
}

.trulia-house-image-9 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg");
}

.trulia-house-image-10 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg");
}

.trulia-house-image-11 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg");
}

.trulia-house-image-12 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg");
}

.trulia-house-facts {
    padding: 0 0 5px 5px;
}

.trulia-house-price {
    display: flex;
}

.trulia-house-price h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.bottom-page-info {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.bottom-page-numbers {
    display: flex;
    gap: 20px;
    /* height: fit-content;
    width: fit-content; */
}

.bottom-location-info {
    display: flex;
    gap: 5px;
    /* height: fit-content;
    width: fit-content; */
}

footer {
    background-color: #474E52;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: white;
}

