/* Featured and Expanded Item */

.trulia-grid-item {
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.trulia-featured-grid-item {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
    min-height: 400px;
    display: flex;
}

.trulia-featured-grid-item .trulia-house-image {
    height: 75%;
}

.trulia-featured-grid-item .trulia-house-facts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.trulia-featured-grid-item .trulia-house-price h1 {
    font-size: 20px;
}

.trulia-featured-grid-item .trulia-house-price, .trulia-featured-grid-item .trulia-house-stats {
    width: 50%;
}

.trulia-featured-grid-item .trulia-house-address {
    margin-bottom: 10px;
}

.trulia-mobile-only {
    display: none;
}

@media (max-width: 767px) {
    /* 2 across */
    .trulia-grid {
        grid-template-columns: 1fr 1fr;
    }

    .trulia-nav {
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: flex-start;
        padding-left: 30px;
    }

    a.trulia-nav-item {
        padding-left: 0;
    }

    a.trulia-nav-item img {
        padding-left: 0;
    }

    .trulia-nav-left {
        display: grid;
        grid-template-columns: 1fr 9fr;
    }

    .trulia-nav-right {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .trulia-nav-mobile-show {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 40px;
    }

    .trulia-nav-mobile-show li a {
        font-size: 25px;
        padding-bottom: 30px
    }

    .trulia-nav-mobilehide {
        display: none !important;
    }

    .trulia-mobile-only {
        display: flex;
        justify-content: flex-end;
    }

    .trulia-mobile-only a.trulia-nav-toggle {
        color: white;
        margin-top: 5px;
        margin-right: 20px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        font-size: 18px;
        align-items: center;

    }
}

/* between above and below (768px to 1199px) is the default so no need to specify with @media */

@media (min-width: 1200px) and (max-width: 1599px) {
    /* 4 across */
    .trulia-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1600px) {
    /* 6 across */
    .trulia-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

